@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Random passcode (passcode # )</h2>
    <div id="passcode">
        
    </div>
    <form action="">
        <input class="btn btn-warning" type="submit" name="Passcode" id="Passcode">
    </form>
</div>
