@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Random passcode (passcode #@ViewBag.Count)</h2>
    <div id="passcode">
        <h1>@ViewBag.Code</h1>
    </div>
    <a class="btn btn-warning" href="/click">Generate</a>
